<!DOCTYPE html>

<style>
  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s ;
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }

  .card:hover{
    transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

  .navbar{
    background-color: rgb(38, 18, 128);
  }
</style>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tugas 5 | To-Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg ">
      <div class="nav-item dropdown px-3 ">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:ghostwhite">
            MENU
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'todolist:add_task' %}">Create Task</a>
              <a class="dropdown-item" href="{% url 'todolist:logout_user' %}">Logout</a>
              

          </div>
         
          
      </div>
      <div class="container-fluid justify-content-end">
          <a class="navbar-brand" href="#" style = "color:ghostwhite">Hello, {{username}}!</a>
          
          
          
      </div>
    </nav>
    
  
    <div class="container">
      <br>
      <h1 class="text-center">TO-DO LIST</h1>
      <br>
      <div class ="row">
        {% for todo in todolist %}
          <div class ="col-12 col-md-6 col-lg-4">
            <div class ="card">
              <h5 class="card-header d-flex justify-content-between align-items-center">
                Task : {{todo.title}}
              </h5>
              <div class="card-body">
                
                <h5 class="card-title">Date : {{todo.date}}</h5>
                <h5 class="card-title">Description : {{todo.description}}</h5>
                <h5 class="card-title">
                  Status : 
                  {% if todo.is_finished %}
                  Finished
                  {% else %}
                  Not Yet
                  {% endif %}
                </h5>
                
                
              </div>
              <h5 class="card-footer d-flex justify-content-around">
                <div>
                <button class ="btn btn-outline-warning btn-light text-decoration-none text-white" ><a href="{% url 'todolist:change' todo.id %}" title="">Change Status</a></button>
                <button class ="btn btn-outline-danger tn-light text-decoration-none text-white"><a href="{% url 'todolist:delete' todo.id %}" title="">Delete</a></button>
                </div>
              </h5>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  

      
     
  </body>
  
  
</html>
