{% extends 'base.html' %}

{% block meta %}
<title>Tugas 5 | Login</title>
{% endblock meta %}

{% block content %}

<style>
  body {
    background-image: url(https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=2000);
  }   
  .flex{
        border-radius: 1em; 
        font-size: large; 
        
        box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.211); 
    }  
  .login {
    
    padding-bottom: 5%;
    
    
  }

  form{
        border-radius:2em; 
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.211);   
    
    margin: auto;
    width: 270px;
    padding: 1em;
    
    }

    
    .apakek{
        margin: auto;
    width: 270px;
    padding: 1em;
    }

    * {
    font-family: "Work Sans";
    text-align:center;
    vertical-align: middle;
    
  }
 
</style>



<h1 class="text-center">Login</h1>
<div class = "login">

    

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     

    <div class="apakek">

        Belum punya akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    </div>
    

</div>

{% endblock content %}